
#tablaHoja{
    background-color: #D6FEF8;
}

#tablapreparacion{
    background-color: #FFE6E6;
}

#tablapintura{
    background-color: #FFF1E6;
}

#tablaarmado{
    background-color: #CEECFE;
}

#tabladetallado{
    background-color: #F7FED6;
}

#tablamecanica{
    background-color: #E0D3FF;
}

#tablalavado{
    background-color: #D9C2AD;
}